<% if @repo.errors.any? %>
  <div class="bg-danger">
    <ul>
      <% @repo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@repo, html: { class: "form-horizontal" }) do |f| %>
  <fieldset>
    <legend>Repositiory Properties</legend>
    <div class="control-group">
      <%= f.label :cohort %>
      <%= f.collection_select(:cohort_ids, Cohort.all, :id, :display_name,{}, { class: "form-control", multiple: true, size: @max_size }) %>
    </div>
    <div class="control-group">
      <%= f.label :repo_url %>
      <%= f.text_field :repo_url, class: "form-control" %>
    </div>
    <div class="control-group">
      <%= f.label :indiviudal %>
      <%= f.check_box :individual, class: "form-control" %>
    </div>
  </fieldset>
  <div class="control-group">
    <%= f.submit %>
  </div>
<% end %>
