<h1><%= @repo.repo_url %></h1>
<h3><%= @cohort.display_name %></h3>
<h4><%= link_to "Github", @repo.pulls_url, :target => "_blank" %></h4>
<table class="table">
  <thead>
    <th>Student Name</th>
    <th>GitHub Name</th>
    <th>Submitted</th>
  </thead>
  <tbody>
    <% @all_data.each do |pr_student_data| %>
      <% student = pr_student_data.student_model %>
      <tr class='<%= !pr_student_data.pr_created ? "danger" : "success" %>' >
      <td><%= student.name %></td>
      <td><%= student.github_name %></td>
      <% if !pr_student_data.pr_created %>
        <td><%= mail_to student.email, "Send Notification", cc: student.cohort.instructor_emails,
         subject: @repo.repo_url, target: "_blank" %></td>
       <% else %>
        <td><%= link_to localize(pr_student_data.pr_created, :format => :short), pr_student_data.pr_url, target: "_blank" if pr_student_data.pr_created %></td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
