<h1><%= @repo.repo_url %></h1>
<table class="table">
  <thead>
    <th>Student Name</th>
    <th>GitHub Name</th>
    <th>Submitted Assignment</th>
    <th></th>
  </thead>
  <tbody>
    <% @new_hash.each do |data| %>
      <tr>
        <td><%= data[:name].capitalize %></td>
        <td><%= data[:github] %></td>
        <td><%= data[:submitted] %></td>
        <td><%= mail_to data[:email], "Send Notification", cc: data[:instructor_cc],
           subject: data[:subject_line] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
