<h1><%= @repo.repo_url %></h1>
<h4><%= link_to "Github", "http://github.com/" + @repo.repo_url + "/pulls", :target => "_blank" %></h4>
<table class="table">
  <thead>
    <th>Student Name</th>
    <th>GitHub Name</th>
    <th>Submitted Assignment</th>
    <!-- <th></th> -->
  </thead>
  <tbody>
    <% @all_data.each do |stud| %>
      <% if !stud[:submitted] %>
        <tr class="danger">
      <% else %>
        <tr class="success">
      <% end %>
        <td><%= stud[:name].capitalize %></td>
        <td><%= stud[:github] %></td>
        <!-- <td><%= stud[:submitted] %></td> -->
        <% if !stud[:submitted] %>
          <td><%= mail_to stud[:email], "Send Notification", cc: stud[:instructor_cc],
           subject: stud[:subject_line] %></td>
         <% else %>
          <td></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
