<table class="table" id="homepage-table">
  <thead>
    <tr>
      <th>Assignment Name</th>
      <th>Student Submissions</th>
      <th>View on GitHub</th>
      <th>Created</th>
    </tr>
  </thead>
  <% @assignments.each do |r| %>
    <tr>
      <td><%= r.repo_url %></td>
      <td>
        <% r.classrooms.each do |c| %>
          <%= link_to c.display_name, assignment_classroom_path(r.id, c.id) %><br>
        <% end %>
      </td>
      <!-- <td><%= link_to "Students", assignment_path(r.id) %></td> -->
      <td><%= link_to "Github", "http://github.com/" + r.repo_url + "/pulls", :target => "_blank" %></td>
      <td><%= r.created_at.strftime("%Y-%m-%d") %></td>

    </tr>
  <% end %>
</table>
