<%= button_to "New Student", new_student_path, method: :get %>

<table class="table" id="student-table">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Classroom</th>
      <th>Class</th>
      <th>GitHub Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <% @students.each do |s| %>
    <tr>
      <td><%= link_to s.name, student_path(s) %></td>
      <td><%= s.classroom.number %></td>
      <td><%= s.classroom.name %></td>
      <td><%= s.github_name %></td>
      <td><%= s.email %></td>
      <td>
        <%= link_to icon('pencil'), { controller: "students", action: "edit", id: s.id } %>
        <%= link_to icon('trash'), { controller: "students", action: "destroy", id: s.id }, method: :delete, data: { confirm: "Are you sure? "} %>
      </td>
    </tr>
  <% end %>
</table>
