<!DOCTYPE html>
<html>
<head>
  <title>PullRequests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <header class="navigation">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#" class="logo"></a></li>
          <li class= <%= 'active' if current_page?(pull_requests_path) %>><%= link_to "Home", root_path %></li>
          <li class= <%= 'active' if current_page?(assignments_path) %>><%= link_to "Assignment", assignments_path %></li>
          <li class= <%= 'active' if current_page?(students_path) %>><%= link_to "Students", students_path %></li>
          <li class= <%= 'active' if current_page?(user_invites_path) %>><%= link_to "Invites", user_invites_path %></li>
          <li><a href="#"></a></li>
          <li><%= link_to "Log In", "/auth/github" unless current_user %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete if current_user %></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row">
      <%= render partial: "errors" %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
